<div style="margin: 10px auto;background: whitesmoke;background-size: cover">
    <div style="padding: 20rem 10rem">
        <div class="row">
            <div class="col-md-2 text-center">
                <p><i class="fa fa-exclamation-triangle fa-5x" style="color: red;"></i><br/>Status Code: 404</p>
            </div>
            <div class="col-md-10">
                <h3 style="color: red">OOOPPSSS!!!! PAGE NOT FOUND!!!</h3>
                <p>Sorry, requested page not found.<br/>Please go back to the previous page to continue browsing.</p>
                <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
            </div>
        </div>
    </div>
</div>