<div class="container" style="margin:100px auto;background: whitesmoke">
    <div id="contact" class="container-fluid bg-grey">
        <h2 class="text-center" style="padding-bottom: 30px">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Kerala, INDIA</p>
                <p><span class="glyphicon glyphicon-phone"></span> +91 1215151515</p>
                <p><span class="glyphicon glyphicon-envelope"></span> admin@spaceblog.com</p>
            </div>
            <div class="col-sm-7 slideanim">

                <form name="form" (ngSubmit)="Submit()" #f="ngForm">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" #name="ngModel" [(ngModel)]="feedBack.name" type="text" required>
                        </div>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                                <div *ngIf="name.errors.required"> name  is required</div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="feedBack.email" type="text" required>
                        </div>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                <div *ngIf="email.errors.required"> email  is required</div>
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment" #comments="ngModel" [(ngModel)]="feedBack.comments" rows="5"></textarea><br>
                    <div *ngIf="comments.invalid && (comments.dirty || comments.touched)" class="alert alert-danger">
                            <div *ngIf="comments.errors.required"> comments  is required</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-default pull-right" type="submit"  [disabled]="!f.valid">Send</button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>